# Dependencies

node_modules/

# Uploaded files

uploads/

# Environment variables

.env
.env.local
.env.\*.local

# Logs

\*.log
logs/

# OS files

.DS_Store
Thumbs.db
desktop.ini

# IDE

.vscode/
.idea/

# Temporary files

tmp/
temp/

# Build / coverage

dist/
build/
coverage/

# Runtime files

_.pid
_.seed

# npm

.npm/
